@use 'colors/color-matrix' as color;

:host {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  &.button {
    &--white {
      .button {
        fill: color.$icon-button-bg--secondary;

        &:hover,
        &:focus-visible {
          fill: color.$icon-button-bg--secondary-hover;
        }

        &:active {
          fill: color.$icon-button-bg--secondary-active;
        }
      }
    }
  }
}

.button {
  fill: color.$icon-button-bg--primary;
  display: flex;
  align-items: center;

  &__icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
  }

  &--primary {
    fill: color.$icon-button-bg--primary;

    &:hover,
    &:focus-visible {
      fill: color.$icon-button-bg--primary-hover;
    }

    &:active {
      fill: color.$icon-button-bg--primary-active;
    }
  }

  &--secondary {
    fill: color.$icon-button-bg--secondary;

    &:hover,
    &:focus-visible {
      fill: color.$icon-button-bg--secondary-hover;
    }

    &:active {
      fill: color.$icon-button-bg--secondary-active;
    }
  }

  &--danger {
    fill: color.$icon-button-bg--danger;

    &:hover,
    &:focus-visible {
      fill: color.$icon-button-bg--danger-hover;
    }

    &:active {
      fill: color.$icon-button-bg--danger-active;
    }
  }

  &:disabled {
    fill: color.$icon-button-bg--disabled;
    cursor: not-allowed;
  }
}
