@use 'colors/color-matrix' as *;
@use 'base/typography' as *;
@use 'abstracts/mixins' as *;

.modal {
  &__content-item {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__message {
    display: inline;
    text-align: center;
    font-size: $text-md;
    color: $base-font-color;
  }

  &__fullname {
    color: $danger-font-color;
  }
}
